<html>
<style>
table, th, td{
border:1px solid black;
border-collapse: collapse;
}
</style>
<body>
<h1><center>MANGALORE UNIVERSITY</center><h1>
<h2><center>Questionaree No.2</center></h2>
<h3><center>Student Feedback on Teachers</center></h3>
<h4><center>(To be filled seperately for semester/term)</center></h4>
<h5>Department:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Semester/Term/year:</center></h5>
<p><b>NOTE:This is a confidential feedback sought from you. Please do not leave any of your identity while filling up this proforma. The University will process the details with utmost care and confidentiality.</b></p>
<p><b>Please rate the Teacher on the following attribute using 4-points scale shown.</b></p>
<table style="width:100%">
  <tr>
    <th>A<br>Very Good</th>
    <th>B<br>Good</th>
    <th>C<br>Satisfactory</th>
    <th>D<br>Unsatisfactory</th>
  </tr>
 
</table>
<h6><u>Teachers:</u></h6>
<table>
  <tr>
    <th>SI.No</th>
    <th>Parameters</th>
    <th>Teachers</th>
  </tr>
 
</table>

</body>
</html>
